# Dependencies
node_modules/

# Build output
dist/

# Environment files
.env
.env.local

# Expo
.expo/
android/
ios/

# Next.js
.next/

# Prisma
prisma/*.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Logs
*.log
npm-debug.log*
